.alert{
    position: fixed;
    background-color: tomato;
    padding: 10px;
    color: white;
    right: 0;
    top: 10;
    z-index: 99999999 !important;
    display: block;
}
.hide{
    display: none;
}