main {
  height: 100%;
  z-index: 1;
}
.termscard {
  height: 320px;
  overflow: scroll;
  overflow-x: hidden;
}
.customList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.listitem {
  margin-bottom: 10px;
}
.listitem::before {
  content: "\2022";
}
.dateCapsule {
  width: 100px;
}
.tournamentName {
  text-transform: capitalize;
}
.banner-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.agree-term-card {
  height: 55px;
}
.summarycard {
  height: 225px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.capitalize {
  text-transform: capitalize;
}
.popup {
  z-index: 99999 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popupwrapper {
  height: 30%;
  width: 25%;
  position: relative;
  top: 50%;
  left: 50%;
  color: white;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: #222;
  text-align: justify;
}
.popupheader {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.popupbody {
  margin-top: 20px;
}
.popupbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  column-gap: 20px;
}
.btn {
  width: 50%;
  height: 40px;
  cursor: pointer;
  border: none;
}
.success {
  color: white;
  background-color: var(--success);
}
.secondary {
  border: 1px solid var(--border);
  background: none;
  color: whitesmoke;
}
