.usercard {
  cursor: pointer;
}
.usercard > .profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.usercard > .profile > .image {
  width: 35px;
}
.usercard {
  color: white;
}
.email {
  color: #989aa6;
}
.usercard > .profile > .image > img {
  width: 100%;
}
.usercard > .profile > .text > .balance {
  color: #989aa6;
  font-size: smaller;
}
